<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: fragment-header(pageTitle='키워드 분석')"></th:block>
</head>

<body>
    <!--nav-->
    <th:block th:replace="fragments/navi :: fragment-navi(siteName='getBbsKey.do')"></th:block>

<!-- 키워드 검색 -->
<div class="container">
    <form class="row" method="get" id="frm2" name="frm2" action="/getBbsKey.do">
        <div class="col-md-2">
            <label for="start_date">조회시작일</label>
            <input type="date" class="form-control" id="start_date" name="StartDate"
                   th:value="${search.StartDate != null}? ${search.StartDate} : '2020-09-01'">
        </div>
        <div class="col-md-2">
            <label for="end_date">조회종료일</label>
            <input type="date" class="form-control" id="end_date" name="EndDate"
                   th:value="${search.EndDate != null} ? ${search.EndDate} : '2021-08-31'">
        </div>
        <div class="col-md-auto">
            <button type="submit" id="searchbbt" class="btn btn-primary" onclick="return DateCheck2();">검색</button>
        </div>
    </form>

      <br>

        <!--Area 하이챠트 구현 화면-->
    <br>
    <h4>일별 키워드 현황</h4>
    <hr style="margin-top: 10px">
    <div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="areachat">
                <p style="padding: 150px 40%;"
                   th:text="${search.StartDate==null ? '==데이터가 존재하지 않습니다!==' :''}">
                </p>
            </div>
        </figure>
    </div>

        <!--키워드 분석 리스트 구현-->
        <br>
        <h4>키워드 분석 리스트</h4>
        <hr style="margin-top: 10px">
        <table class="table table-hover">
        <thead>
          <tr style="background:#026892; text-align: center; color: white;">
              <th scope="col">No</th>
              <th scope="col">키워드</th>
              <th scope="col">합계(건)</th>
              <th scope="col">비중(%)</th>
              <th scope="col">전년 대비 증감율(%)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active" style="text-align: center;"
          th:id="'nmtitle'+${index.index+1}"
          th:each="keyword,index : ${bbsKey}"
          th:onclick=|getKeywordGraph($('#keyword'+'${index.index}').attr('value'),'${index.index}')|>
              <td th:text="${index.index+1}"</td>
              <td><a th:id="'keyword'+${index.index}"
                     th:name="keyword"
                     th:text="${keyword.c_category}"
                     th:value="${keyword.c_category}"
                     th:onmouseover=|getKeywordGraph($(this).attr('value'),'${index.index}')|>
                  </a>
              </td>
              <td th:text="${#numbers.formatInteger(keyword.cnt_total, 0, 'COMMA')}"></td>
              <td th:text="${keyword.round_category}"></td>
              <td th:text="${keyword.round_last}" class="bi"
                  th:classappend="${(keyword.round_last>0 ? 'bi-caret-up-fill':'') + (keyword.round_last<0 ? 'bi-caret-down-fill' : '')}"
                  th:style="${(keyword.round_last>0 ? 'color: cornflowerblue;':'') + (keyword.round_last<0 ? 'color: #FF0000;':'')}">
              </td>
              <input type="hidden" th:id="'avg_this'+${index.index}" th:value="${keyword.avg_this}">
              <input type="hidden" th:id="'avg_last'+${index.index}" th:value="${keyword.avg_last}">
          </tr>

<!--            <th scope="row">1</th>-->
<!--            <td>요금제</td>-->
<!--            <td>6,548</td>-->
<!--            <td>10.01</td>-->
<!--            <td>15.32</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th scope="row">2</th>-->
<!--            <td>기기변경</td>-->
<!--            <td>4,954</td>-->
<!--            <td>9.50</td>-->
<!--            <td>30.51</td>-->
<!--          </tr>-->
<!--          <tr class="table-primary">-->
<!--            <th scope="row">3</th>-->
<!--            <td>KT</td>-->
<!--            <td>4,468</td>-->
<!--            <td>9.23</td>-->
<!--            <td>13.16</td>-->
<!--          </tr>-->
<!--          <tr class="table-secondary">-->
<!--            <th scope="row">4</th>-->
<!--            <td>5G</td>-->
<!--            <td>4,136</td>-->
<!--            <td>9.12</td>-->
<!--            <td>56.16</td>-->
<!--          </tr>-->
<!--          <tr class="table-success">-->
<!--            <th scope="row">5</th>-->
<!--            <td>속도</td>-->
<!--            <td>3,056</td>-->
<!--            <td>8.12</td>-->
<!--            <td>1.32</td>-->
<!--          </tr>-->
<!--          &lt;!&ndash; <tr class="table-info">-->
<!--            <th scope="row">Info</th>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--          </tr>-->
<!--          <tr class="table-light">-->
<!--            <th scope="row">Light</th>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--          </tr>-->
<!--          <tr class="table-dark">-->
<!--            <th scope="row">Dark</th>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--            <td>Column content</td>-->
<!--          </tr> &ndash;&gt;-->
        </tbody>
      </table>
    </div>
   <br>
<!--   <div class="container">-->
<!--      <div class="center-block">-->
      
</body>
<th:block th:replace="fragments/footer :: fragment-footer"></th:block>
</html>